<div class="container-fluid page-header">
  <h3>Project List</h3>

  <button
    type="button"
    (click)="addProjectModel()"
    class="btn btn-primary add-button"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    Add Project
  </button>
</div>

<div class="card shadow main-card">
  <div class="card-body">
    <!-- Search & Sort -->
    <div class="row filter-row">
      <div class="col-lg-6 col-md-12 search">
        <i class="fa fa-search"></i>

        <input
          type="text"
          class="form-control"
          placeholder="Search Project Name"
          [(ngModel)]="searchText"
        />
      </div>

      <div class="col-lg-6 col-md-12 sort-section">
        <label>Sort By :</label>

        <select class="form-select sortDropdown" (change)="sortTable($event)">
          <option value=""></option>
          <option value="projectName">Project Name</option>
          <option value="reason">Reason</option>
          <option value="type">Type</option>
          <option value="division">Division</option>
          <option value="category">Category</option>
          <option value="priority">Priority</option>
          <option value="department">Department</option>
          <option value="location">Location</option>
          <option value="status">Status</option>
        </select>
      </div>
    </div>

    <!-- Responsive Table -->
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-head">
          <tr>
            <th>Project Name</th>
            <th>Reason</th>
            <th>Type</th>
            <th>Division</th>
            <th>Category</th>
            <th>Priority</th>
            <th>Dept.</th>
            <th>Location</th>
            <th>Status</th>
            <th>Change Status</th>
          </tr>
        </thead>

        <tbody>
          @for (
            data of allProjectData
              | filter: searchText
              | paginate: { itemsPerPage: 10, currentPage: page };
            track data.id
          ) {
            <tr>
              <td class="project-name">
                <a
                  (click)="editProjectModel(data)"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  <strong>{{ data.projectName }}</strong>
                </a>

                <small>
                  {{ data.startDate | date: "mediumDate" }}
                  to
                  {{ data.endDate | date: "mediumDate" }}
                </small>
              </td>

              <td>{{ data.reason }}</td>
              <td>{{ data.type }}</td>
              <td>{{ data.division }}</td>
              <td>{{ data.category }}</td>
              <td>{{ data.priority }}</td>
              <td>{{ data.department }}</td>
              <td>{{ data.location }}</td>

              <td>
                <span
                  class="status-badge"
                  [class.status-registered]="
                    data.status?.toLowerCase() === 'registered'
                  "
                  [class.status-running]="
                    data.status?.toLowerCase() === 'running'
                  "
                  [class.status-closed]="
                    data.status?.toLowerCase() === 'closed'
                  "
                  [class.status-cancelled]="
                    data.status?.toLowerCase() === 'cancelled'
                  "
                  [class.status-delaycloser]="
                    data.status?.toLowerCase() === 'delayCloser'
                  "
                >
                  {{ data.status }}
                </span>
              </td>

<td>
  <div class="action-buttons">

    @if (data.status !== 'Running') {
      <button
  (click)="changeStatus(data, 'Running')"
  class="btn btn-start">
  Start
</button>
    }

  @if (data.status !== 'Closed') {
    <button
      (click)="changeStatus(data, 'Closed')"
      class="btn btn-project-close">
      Close
    </button>
  }
@if (data.status !== 'Cancelled') {
    <button
      (click)="changeStatus(data, 'Cancelled')"
      class="btn btn-cancel">
      Cancel
    </button>
  }
  </div>
</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <pagination-controls (pageChange)="page = $event"> </pagination-controls>
  </div>
<!-- </section> -->

<!-- Modal -->
@if (editMode) {
<div>
  <div class="modal fade"
       id="exampleModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="exampleModalLabel"
       aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">

    <div class="modal-header">
      @if (showAdd) {
        <h5 class="modal-title">Add Project</h5>
      }

      @if (showEdit) {
        <h5 class="modal-title">Edit Project</h5>
      }

      <button type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close">
        <span>&times;</span>
      </button>
    </div>

    <form [formGroup]="formValue">

      <div class="modal-body">

        <!-- Row 1 -->
        <div class="row g-2">

          <div class="col-md-6 form-group">
            <label>Project Name <span class="req-star">*</span></label>
            <input
              type="text"
              formControlName="projectName"
              class="form-control"
              placeholder="Enter Project Name">
          </div>

          <div class="col-md-6 form-group">
            <label>Reason <span class="req-star">*</span></label>
            <select formControlName="reason" class="form-select">
              <option>Business</option>
              <option>Dealership</option>
              <option>Transport</option>
            </select>
          </div>

        </div>

        <!-- Row 2 -->
        <div class="row g-2">

          <div class="col-md-6 form-group">
            <label>Type <span class="req-star">*</span></label>
            <select formControlName="type" class="form-select">
              <option>Internal</option>
              <option>External</option>
              <option>Vendor</option>
            </select>
          </div>

          <div class="col-md-6 form-group">
            <label>Division <span class="req-star">*</span></label>
            <select formControlName="division" class="form-select">
              <option>Compressor</option>
              <option>Filters</option>
              <option>Pumps</option>
              <option>Glass</option>
            </select>
          </div>

        </div>

        <!-- Row 3 -->
        <div class="row g-2">

          <div class="col-md-6 form-group">
            <label>Category <span class="req-star">*</span></label>
            <select formControlName="category" class="form-select">
              <option>Quality A</option>
              <option>Quality B</option>
              <option>Quality C</option>
              <option>Quality D</option>
            </select>
          </div>

          <div class="col-md-6 form-group">
            <label>Priority <span class="req-star">*</span></label>
            <select formControlName="priority" class="form-select">
              <option>High</option>
              <option>Medium</option>
              <option>Low</option>
            </select>
          </div>

        </div>

        <!-- Row 4 -->
        <div class="row g-2">

          <div class="col-md-6 form-group">
            <label>Department <span class="req-star">*</span></label>
            <select formControlName="department" class="form-select">
              <option>Strategy</option>
              <option>Finance</option>
              <option>Quality</option>
              <option>Maintenance</option>
              <option>Stores</option>
              <option>HR</option>
            </select>
          </div>

          <div class="col-md-6 form-group">
            <label>Location <span class="req-star">*</span></label>
            <select formControlName="location" class="form-select">
              <option>Pune</option>
              <option>Delhi</option>
              <option>Mumbai</option>
            </select>
          </div>

        </div>

        <!-- Row 5 -->
        <div class="row g-2">

          <div class="col-md-6 form-group">
            <label>Start Date <span class="req-star">*</span></label>
            <input
              type="date"
              formControlName="startDate"
              class="form-control">
          </div>

          <div class="col-md-6 form-group">
            <label>End Date <span class="req-star">*</span></label>
            <input
              type="date"
              formControlName="endDate"
              class="form-control">
          </div>

        </div>

      </div>

      <div class="modal-footer">

        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Close
        </button>

        @if (showEdit) {
          <button type="button"
                  (click)="updateProject()"
                  class="btn btn-success">
            Update Project
          </button>
        }

        @if (showAdd) {
          <button type="button"
                  (click)="addProject()"
                  class="btn btn-primary">
            Save Project
          </button>
        }

      </div>

    </form>

  </div>
</div>

  </div>
</div>
}