<!-- Table start -->
<!-- <section class="main-sec"> -->

<div class="container-fluid d-flex">
  <h3>Project List</h3>
  <button type="button" (click)="addProjectModel()" class="btn btn-primary add-button ml-auto" data-toggle="modal"
    data-target="#exampleModal">
    Add Project
  </button>
</div>


<div class="card shadow main-card">
  <div class="card-body ">
    <div class="row">
      <!-- search -->
      <div class="col search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search Project Name" id="search" name="search"
          [(ngModel)]="searchText">
      </div>
      <!-- Sorting by Column -->
      <div class="col col_1">
        <div class="sort"><label>Sort By :</label></div>
        <select class="sortDropdown" (change)="sortTable($event)">
          <option value=""></option>
          <option value="projectName">Project Name</option>
          <option value="reason">Reason</option>
          <option value="type">Type</option>
          <option value="division">Division</option>
          <option value="category">Category</option>
          <option value="priority">Priority</option>
          <option value="department">Department</option>
          <option value="location">Location</option>
          <option value="status">Status</option>
        </select>
      </div>
    </div>
    <!-- Project List table -->
    <table class="table">
      <thead class="table-head">
        <tr>
          <th class="centerhead _width">Project Name</th>
          <th class="centerhead">Reason</th>
          <th class="centerhead">Type</th>
          <th class="centerhead">Division</th>
          <th class="centerhead">Category</th>
          <th class="centerhead">Priority</th>
          <th class="centerhead">Dept.</th>
          <th class="centerhead">Location</th>
          <th class="centerhead">Status</th>
          <th class="centerhead">Change Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of allProjectData | filter: searchText | paginate: {itemsPerPage:10, currentPage:page};">
          <td class="nameside text-nowrap"><a (click)="editProjectModel(data)" data-toggle="modal"
              data-target="#exampleModal"><strong>{{data.projectName}}</strong></a><br>
            <small>{{ data.startDate | date:'mediumDate'}} to {{ data.endDate | date:'mediumDate' }}</small>
          </td>
          <td>{{data.reason}}</td>
          <td>{{data.type}}</td>
          <td>{{data.division}}</td>
          <td>{{data.category}}</td>
          <td>{{data.priority}}</td>
          <td>{{data.department}}</td>
          <td>{{data.location}}</td>
          <td class="bold">{{data.status}}</td>
          <td class="d-flex"><button (click)="changeStatus(data, 'Running')" type="button"
              class="btn startbtn ">Start</button>&nbsp;
            <button (click)="changeStatus(data, 'Closed')" type="button" class="btn otherbtn">Close</button>&nbsp;
            <button (click)="changeStatus(data, 'Cancelled')" type="button" class="btn otherbtn">Cancel</button>
            <!-- <button (click)="deleteProject(data.id)" type="button" class="btn otherbtn">Delete</button></td> -->
        </tr>
      </tbody>
    </table>
    <!--Pagination  -->
    <pagination-controls class="centerhead" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
<!-- </section> -->

<!-- Modal -->
<div *ngIf="editMode">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="showAdd" id="exampleModalLabel">Add Project</h5>
          <h5 class="modal-title" *ngIf="showEdit" id="exampleModalLabel">Edit Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- form start -->
        <form [formGroup]="formValue" (ngSubmit)="formSubmit(formValue.value)">
          <div class="card-body">
            <div class="row search-text">
              <!-- Project Name -->
              <div class="col mb-6 form-group textarea">
                <label>Project Name <span class="req-star">*</span></label>
                <input type="text" formControlName="projectName" class="form-control" placeholder="Enter Project Name"
                  id="projectName">
              </div>
              <!-- Reason -->
              <div class=" col mb-6 form-group">
                <label>Reason <span class="req-star">*</span></label>
                <select formControlName="reason" class="form-select hight" aria-label="Default select example">
                  <option>Business</option>
                  <option>Dealership</option>
                  <option>Transport</option>
                </select>
              </div>
            </div>
            <!-- <div class="form-fields">
                <div class="container"> -->
            <div class="row">
              <!-- Type -->
              <div class="col mb-6 form-group">
                <label>Type <span class="req-star">*</span></label>
                <select formControlName="type" required class="form-select hight" aria-label="Default select example">
                  <option>Internal</option>
                  <option>External</option>
                  <option>Vendor</option>
                </select>
              </div>
              <!-- Division -->
              <div class="col mb-6 form-group">
                <label>Division <span class="req-star">*</span></label>
                <select formControlName="division" class="form-select hight" aria-label="Default select example">
                  <option>Compressor</option>
                  <option>Filters</option>
                  <option>Pumps</option>
                  <option>Glass</option>
                </select>
              </div>
            </div>

            <div class="row">
              <!-- Category -->
              <div class="col mb-6 form-group">
                <label>Category <span class="req-star">*</span></label>
                <select formControlName="category" class="form-select hight" aria-label="Default select example">
                  <option>Quality A</option>
                  <option>Quality B</option>
                  <option>Quality C</option>
                  <option>Quality D</option>
                </select>
              </div>
              <!-- Priority -->
              <div class="col mb-6 form-group">
                <label>Priority <span class="req-star">*</span></label>
                <select formControlName="priority" class="form-select hight" aria-label="Default select example">
                  <option>High</option>
                  <option>Medium</option>
                  <option>Low</option>
                </select>
              </div>
            </div>
            <div class="row">
              <!-- Department -->
              <div class="col mb-6 form-group">
                <label>Department <span class="req-star">*</span></label>
                <select formControlName="department" class="form-select hight" aria-label="Default select example">
                  <option>Strategy</option>
                  <option>Finance</option>
                  <option>Quality</option>
                  <option>Maintenance</option>
                  <option>Stores</option>
                  <option>HR</option>
                </select>
              </div>
              <!-- Location -->
              <div class="col mb-6 form-group">
                <label>Location <span class="req-star">*</span></label>
                <select formControlName="location" class="form-select hight-loc" aria-label="Default select example">
                  <option>Pune</option>
                  <option>Delhi</option>
                  <option>Mumbai</option>
                </select>
              </div>
            </div>
            <div class="row">
              <!-- Start Date -->
              <div class="col mb-6 form-group">
                <div class="form-group hight">
                  <label for="startdatepicker">Start Date as per Project Plan <span class="req-star">*</span></label>
                  <input formControlName="startDate" type="date" class="form-control datepicker" id="startdatepicker"
                    name="startDate">
                </div>
              </div>
              <!-- End Date -->
              <div class="col mb-6 form-group">
                <div class="form-group hight">
                  <label for="enddatepicker">End Date as per Project Plan <span class="req-star">*</span></label>
                  <input formControlName="endDate" type="date" class="form-control datepicker" id="enddatepicker"
                    name="endDate">
                </div>
              </div>
            </div>
          </div>
        </form>


        <!-- form end -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- Update Changes Button -->
          <button type="button" *ngIf="showEdit" (click)="updateProject()" class="btn btn-success">Update
            Project</button>
          <!-- Add Project Button -->
          <button type="button" *ngIf="showAdd" (click)="addProject()" class="btn btn-primary">Save Project</button>
        </div>
      </div>
    </div>
  </div>
</div>