<div class="sidebar">
  <ul class="menu">
  <li>
    <a routerLink="/dashboard" (click)="setActive('dashboard')">
      <i class="bi bi-speedometer2 menu-color"
         [ngClass]="{'active': active === 'dashboard'}"></i>
    </a>
  </li>

  <li>
    <a routerLink="/featured/projectList" (click)="setActive('projectList')">
      <i class="bi bi-kanban-fill menu-color"
         [ngClass]="{'active': active === 'projectList'}"></i>
    </a>
  </li>

  <li>
    <a routerLink="/featured/comment" (click)="setActive('comment')">
      <i class="bi bi-chat-dots-fill menu-color"
         [ngClass]="{'active': active === 'comment'}"></i>
    </a>
  </li>

  <!-- Create Project -->
  <!--
  <li>
    <a routerLink="/project/createProject" (click)="setActive('createProject')">
      <i class="bi bi-plus-circle-fill menu-color"
         [ngClass]="{'active': active === 'createProject'}"></i>
    </a>
  </li>
  -->

  <li class="logout">
    <a routerLink="/login">
      <i class="bi bi-box-arrow-right menu-color"></i>
    </a>
  </li>
</ul>
</div>